/* CSS Document */
#admin-interface {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 36px auto;
      grid-template-rows: 36px auto;
}

#admin-interface > div:nth-child(1) {
  height: 36px;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

#admin-interface > div:nth-child(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px auto;
      grid-template-columns: 240px auto;
  background-color: #000;
}

#admin-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#admin-sidebar div.sidebar {
  color: #CCC;
  font-family: Arial;
  cursor: pointer;
}

#admin-sidebar div.sidebar a:first-child {
  padding-left: 0.35em;
  color: #FFF;
  text-decoration: none;
}

#admin-sidebar div.sidebar.submenu {
  display: none;
  position: absolute;
  background-color: #333;
  width: auto;
  z-index: 100;
}

#admin-sidebar a {
  cursor: pointer;
}

#admin-sidebar a.sidebar {
  padding: 0.15em 0.35em;
  white-space: nowrap;
}

#admin-sidebar a.sidebar:link, #admin-sidebar a.sidebar:visited {
  cursor: pointer;
  text-decoration: none;
  color: #CCC;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

#admin-sidebar a.sidebar.active, #admin-sidebar a.sidebar:hover {
  background-color: red;
  color: #FFF;
}

#admin-sidebar .admin-left-logo {
  padding: 0 1em;
}

#admin-content-wrap > div:nth-child(2) {
  background-color: #FFF;
  padding: 0 1em;
}

.section-head {
  font-size: 1.35em;
  background-color: #BDB1B1;
  color: #FFF;
  padding: 0.3em;
  font-family: Arial;
  margin-top: 1em;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.section-head:first-child {
  margin-top: 0;
}

.section-head:hover {
  cursor: pointer;
  background-color: #CCC;
  color: #FFF;
  text-shadow: none;
}

.section {
  display: none;
}

.section .medi-btn.dark {
  margin: 1em 0;
}

.section label {
  padding-top: 1em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

table.generic-table {
  width: 100%;
}

table.generic-table,
.table,
.table-header,
.table-row-container {
  font-family: Arial;
  font-size: 0.85em !important;
}

.table-row-container a.medi-btn.dark:link, .table-row-container a.medi-btn.dark:visited {
  margin: 0 !important;
  top: 0;
  bottom: 0;
}

table.generic-table tr td,
.table-row-container {
  border-bottom: 1px solid #CCC;
}

tr.table-body-row:nth-child(2n+0) td,
.table-row-container:nth-child(1n+3) {
  background-color: #EBEBEB;
}

.table-row-container:hover,
tr.table-body-row:hover td {
  background-color: #D4E0E4;
  cursor: pointer;
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: #888;
  background-color: transparent;
}

table.generic-table td,
.table-row {
  padding: 0.5em 0.35em;
  color: #888;
  background-color: transparent;
}

.table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.table-header,
table.generic-table tr:first-child {
  padding: 0.5em 0.35em;
  background-color: #BDB1B1;
}

.table-header,
table.generic-table tr:first-child td {
  color: #FFF;
}

.admin-table-file_activity td.field-name-ID,
.admin-table-file_activity td.field-name-unique_id,
.admin-table-file_activity td.field-name-file,
.admin-table-file_activity td.field-name-file_size,
.admin-table-file_activity td.field-name-file_path,
.admin-table-file_activity td.field-name-timestamp,
.admin-table-file_activity td.field-name-admin_notes,
.admin-table-file_activity td.field-name-username,
.admin-table-file_activity td.field-name-usergroup,
.admin-table-file_activity td.field-name-group_id,
.admin-table-file_activity td.field-name-page_order,
.admin-table-file_activity td.field-name-cached,
.admin-table-file_activity td.field-name-ref_page,
.admin-table-file_activity td.field-name-ref_anchor,
.admin-table-file_activity td.field-name-parent_id,
.admin-table-system_settings td.field-name-ID,
.admin-table-system_settings td.field-name-unique_id,
.admin-table-system_settings td.field-name-file,
.admin-table-system_settings td.field-name-file_size,
.admin-table-system_settings td.field-name-file_path,
.admin-table-system_settings td.field-name-timestamp,
.admin-table-system_settings td.field-name-admin_notes,
.admin-table-system_settings td.field-name-username,
.admin-table-system_settings td.field-name-usergroup,
.admin-table-system_settings td.field-name-group_id,
.admin-table-system_settings td.field-name-page_order,
.admin-table-system_settings td.field-name-cached,
.admin-table-system_settings td.field-name-ref_page,
.admin-table-system_settings td.field-name-ref_anchor,
.admin-table-system_settings td.field-name-parent_id,
.admin-table-main_menus td.field-name-ID,
.admin-table-main_menus td.field-name-unique_id,
.admin-table-main_menus td.field-name-file,
.admin-table-main_menus td.field-name-file_size,
.admin-table-main_menus td.field-name-file_path,
.admin-table-main_menus td.field-name-timestamp,
.admin-table-main_menus td.field-name-admin_notes,
.admin-table-main_menus td.field-name-username,
.admin-table-main_menus td.field-name-usergroup,
.admin-table-main_menus td.field-name-group_id,
.admin-table-main_menus td.field-name-page_order,
.admin-table-main_menus td.field-name-cached,
.admin-table-main_menus td.field-name-ref_page,
.admin-table-main_menus td.field-name-ref_anchor,
.admin-table-main_menus td.field-name-parent_id,
.admin-table-form_builder td.field-name-ID,
.admin-table-form_builder td.field-name-unique_id,
.admin-table-form_builder td.field-name-file,
.admin-table-form_builder td.field-name-file_size,
.admin-table-form_builder td.field-name-file_path,
.admin-table-form_builder td.field-name-timestamp,
.admin-table-form_builder td.field-name-admin_notes,
.admin-table-form_builder td.field-name-username,
.admin-table-form_builder td.field-name-usergroup,
.admin-table-form_builder td.field-name-group_id,
.admin-table-form_builder td.field-name-page_order,
.admin-table-form_builder td.field-name-cached,
.admin-table-form_builder td.field-name-ref_page,
.admin-table-form_builder td.field-name-ref_anchor,
.admin-table-form_builder td.field-name-parent_id,
.admin-table-emailer td.field-name-ID,
.admin-table-emailer td.field-name-unique_id,
.admin-table-emailer td.field-name-file,
.admin-table-emailer td.field-name-file_size,
.admin-table-emailer td.field-name-file_path,
.admin-table-emailer td.field-name-timestamp,
.admin-table-emailer td.field-name-admin_notes,
.admin-table-emailer td.field-name-username,
.admin-table-emailer td.field-name-usergroup,
.admin-table-emailer td.field-name-group_id,
.admin-table-emailer td.field-name-page_order,
.admin-table-emailer td.field-name-cached,
.admin-table-emailer td.field-name-ref_page,
.admin-table-emailer td.field-name-ref_anchor,
.admin-table-emailer td.field-name-parent_id,
.admin-table-dropdown_menus td.field-name-ID,
.admin-table-dropdown_menus td.field-name-unique_id,
.admin-table-dropdown_menus td.field-name-file,
.admin-table-dropdown_menus td.field-name-file_size,
.admin-table-dropdown_menus td.field-name-file_path,
.admin-table-dropdown_menus td.field-name-timestamp,
.admin-table-dropdown_menus td.field-name-admin_notes,
.admin-table-dropdown_menus td.field-name-username,
.admin-table-dropdown_menus td.field-name-usergroup,
.admin-table-dropdown_menus td.field-name-group_id,
.admin-table-dropdown_menus td.field-name-page_order,
.admin-table-dropdown_menus td.field-name-cached,
.admin-table-dropdown_menus td.field-name-ref_page,
.admin-table-dropdown_menus td.field-name-ref_anchor,
.admin-table-dropdown_menus td.field-name-parent_id,
.admin-table-components td.field-name-ID,
.admin-table-components td.field-name-unique_id,
.admin-table-components td.field-name-file,
.admin-table-components td.field-name-file_size,
.admin-table-components td.field-name-file_path,
.admin-table-components td.field-name-timestamp,
.admin-table-components td.field-name-admin_notes,
.admin-table-components td.field-name-username,
.admin-table-components td.field-name-usergroup,
.admin-table-components td.field-name-group_id,
.admin-table-components td.field-name-page_order,
.admin-table-components td.field-name-cached,
.admin-table-components td.field-name-ref_page,
.admin-table-components td.field-name-ref_anchor,
.admin-table-components td.field-name-parent_id {
  display: none;
}

@media all and (max-width: 655px) {
  .admin-table-file_activity tr,
  .admin-table-system_settings tr,
  .admin-table-main_menus tr,
  .admin-table-form_builder tr,
  .admin-table-emailer tr,
  .admin-table-dropdown_menus tr,
  .admin-table-components tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .admin-table-file_activity tr a.mini-btn.dark,
  .admin-table-system_settings tr a.mini-btn.dark,
  .admin-table-main_menus tr a.mini-btn.dark,
  .admin-table-form_builder tr a.mini-btn.dark,
  .admin-table-emailer tr a.mini-btn.dark,
  .admin-table-dropdown_menus tr a.mini-btn.dark,
  .admin-table-components tr a.mini-btn.dark {
    font-size: 1.5em !important;
    margin-top: 0 !important;
  }
  .admin-table-file_activity tr.hide-on-md,
  .admin-table-system_settings tr.hide-on-md,
  .admin-table-main_menus tr.hide-on-md,
  .admin-table-form_builder tr.hide-on-md,
  .admin-table-emailer tr.hide-on-md,
  .admin-table-dropdown_menus tr.hide-on-md,
  .admin-table-components tr.hide-on-md {
    display: none;
  }
  .admin-table-file_activity tr td,
  .admin-table-system_settings tr td,
  .admin-table-main_menus tr td,
  .admin-table-form_builder tr td,
  .admin-table-emailer tr td,
  .admin-table-dropdown_menus tr td,
  .admin-table-components tr td {
    text-align: center;
    padding: 0.15em 0.35em;
  }
  .admin-table-file_activity tr td:not(:last-child),
  .admin-table-system_settings tr td:not(:last-child),
  .admin-table-main_menus tr td:not(:last-child),
  .admin-table-form_builder tr td:not(:last-child),
  .admin-table-emailer tr td:not(:last-child),
  .admin-table-dropdown_menus tr td:not(:last-child),
  .admin-table-components tr td:not(:last-child) {
    border-bottom: none;
  }
  .admin-table-file_activity tr td .hide,
  .admin-table-system_settings tr td .hide,
  .admin-table-main_menus tr td .hide,
  .admin-table-form_builder tr td .hide,
  .admin-table-emailer tr td .hide,
  .admin-table-dropdown_menus tr td .hide,
  .admin-table-components tr td .hide {
    display: inline !important;
  }
}

.admin-table-emailer td.field-name-content_back,
.admin-table-emailer td.field-name-return_copy,
.admin-table-emailer td.field-name-content {
  display: none;
}

.admin-table-dropdown_menus td.field-name-restriction {
  display: none;
}

#search-bar {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #DEDADA;
}

#search-bar input {
  margin: 0;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

#search-bar input:hover:not(input[type=submit]) {
  cursor: auto;
  -webkit-box-shadow: 0 0 10px rgba(88, 50, 50, 0.5);
          box-shadow: 0 0 10px rgba(88, 50, 50, 0.5);
}

#search-bar input:focus {
  -webkit-box-shadow: 0 0 10px rgba(63, 38, 38, 0.5);
          box-shadow: 0 0 10px rgba(63, 38, 38, 0.5);
}

#search-bar input[type=submit] {
  border: none;
  margin: 0.2em 1em;
}

#admin-content .loader {
  max-width: 60px;
  margin: 30px;
}

#admin-content .loader::before {
  content: ' loading...';
}

#admin-content .pagination-max a {
  text-decoration: none;
  padding: 0.25em;
  border-radius: 3px;
  background-color: #F4F4F4;
  margin: 0.15em;
  cursor: pointer;
  color: #333;
  -webkit-transition: All ease-in-out 0.35s;
  transition: All ease-in-out 0.35s;
}

#admin-content .pagination-max a:hover {
  opacity: 0.5;
  color: #666;
}

#admin-content .pagination-max.active a {
  background-color: transparent;
}

textarea.editable {
  min-height: 300px;
  background-color: #DFE5DA;
}

.no-margin.children input,
.no-margin.children div,
.no-margin.children h1,
.no-margin.children h2,
.no-margin.children h3,
.no-margin.children h4,
.no-margin.children h5,
.no-margin.children h6,
.no-margin.children h7,
.no-margin.children p {
  margin: 0;
}

tr.table-tbl-row th {
  padding: 0.5em !important;
  font-weight: normal;
  background-color: #BDB1B1;
  color: #FFF;
}

tr.table-tbl-row th p {
  font-size: 0.85em;
}

tr.table-tbl-row th,
tr.table-tbl-row td {
  font-family: Arial;
  border-bottom: 1px solid #CCC;
  padding: 0.25em;
}

tr.table-tbl-row td h4 {
  font-size: 1.2em;
}

@media all and (max-width: 1038px) {
  .max-range {
    margin-bottom: 1em;
  }
}

.nbr.width-all {
  width: 100% !important;
}

input[type="file"].nbr,
select.nbr {
  width: auto !important;
}

.locale-item {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.locale-item td:first-child {
  padding-left: 1em;
}

.locale-item td:last-child {
  padding-left: 1em;
}

.locale-item select {
  min-width: 6em !important;
}

.about-me select {
  width: 100% !important;
}

textarea.tabber.code {
  background-color: #000000;
  color: #CCC;
  font-size: 1.25em !important;
}

/*
.table-row-container-wrap {
    @media all and (max-width: 1038px) {
        border: 1px solid #CCC;
        max-width: 555px;
        overflow: auto;
    }
    @media all and (max-width: 850px) {
        max-width: 475px;
        overflow: auto;
    }
    @media all and (max-width: 588px) {
        max-width: 275px;
        overflow: auto;
    }
}
*/
/*# sourceMappingURL=admintools.css.map */