$red: red;
$green: rgba(18,226,128,1.00);
* {
    box-sizing: border-box;
}
.content {
    z-index: 0;
    position: relative;
}
.uppercase {
    text-transform: uppercase;
}
span {
    &.alert-dismissible {
        padding-right: 0 !important;
    }
}
.tinted-black {
    background-color: #000;
    color: #FFF;
}
.red {
    color: $red;
}
.green {
    color: $green;
}
.hide {
    display: none;
}
/* CSS Document */
.align-middle {
    display: flex !important;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    > * {
        align-self: center;
    }
}
.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.flexor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    > * {
        margin: 0.5em;
    }
}
.pad-half {
    padding: 0.5;
}
.pad-1 {
    padding: 1em;
}
.pad-2 {
    padding: 2em;
}

.pad-3 {
    padding: 3em;
}
.pad-4 {
    padding: 4em;
}
.margin-half {
    margin: 0.5;
}
.margin-1 {
    margin: 1em;
}
.margin-2 {
    margin: 2em;
}
.margin-3 {
    margin: 3em;
}
.margin-4 {
    margin: 4em;
}
.pad-top-3,
.pad-top {
	padding-top: 3em;
}
.pad-top-2,
.pad-top-small {
	padding-top: 2em;
}
.pad-top-1,
.pad-top-xsmall {
	padding-top: 1em;
}
.pad-bottom-3,
.pad-bottom {
	padding-bottom: 3em;
}
.pad-bottom-2,
.pad-bottom-small {
	padding-bottom: 2em;
}
.pad-bottom-1,
.pad-bottom-xsmall {
	padding-bottom: 1em;
}
.margin-top-3,
.margin-top {
	margin-top: 3em;
}
.margin-top-2,
.margin-top-small {
	margin-top: 2em;
}
.margin-top-1,
.margin-top-xsmall {
	margin-top: 1em;
}
.margin-bottom-3,
.margin-bottom {
	margin-bottom: 3em;
}
.margin-bottom-2,
.margin-bottom-small {
	margin-bottom: 2em;
}
.margin-bottom-1,
.margin-bottom-xsmall {
	margin-bottom: 1em;
}
.margin-bottom-half {
    margin-bottom: 0.5em;
}
.margin-top-half {
    margin-top: 0.5em;
}
.pad-bottom-half {
    margin-bottom: 0.5em;
}
.pad-top-half {
    margin-top: 0.5em;
}
.pointer {
    cursor: pointer;
}
.white {
    color: #FFF !important;
}
.rel {
    position: relative;
}
.s-focus-price.pack-price::after {
    left: -235px;
}
.logo-right-area a {
    display: block !important;
}
.logo-right-area img {
    margin: 0;
    width: 100% !important;
    height: auto !important;
    max-height: none !important;
    display: block;
}
.bkg-black {
    background: #000;
}
.top-60 {
    margin-top: -60px;
}
.cart-main {
    a {
        color: #FFF;
    }
}
.side-bar-active {
    > div:first-child {
        z-index: 0;
    }
}
.overflow-hidden {
    overflow: hidden !important;
}
.sidebar-container {
    width: 0;
    right: 0;
    overflow: hidden;
    position: fixed;
    max-width: none !important;
    transition: All ease-in-out 0.5s !important;
    
    > div {
        h3 {
            white-space: nowrap;
        }
        width: inherit !important;
        max-width: inherit !important;
        &.cart-content-mini {
            padding: 0 !important;
        }
        position: fixed;
        bottom: 0;
        top: 0;
        right: 0;
        background: linear-gradient(#000, #333);
    }
    &.sidebar-active {
        width: 100% !important;
        max-width: 425px !important;
        > div {
            padding: 1em !important;
        }
    }
}
.fixed-auto,
.abs-auto {
    position: absolute;
    &.right-0 {
        right: 0;
    }
    &.top-0 {
        top: 0;
    }
    &.left-0 {
        left: 0;
    }
    &.bottom-0 {
        bottom: 0;
    }
}
.fixed-auto {
    position: fixed;
}
#loadspot-modal {
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: visible;
    position: absolute;
    .sidebar-container {
        padding: 2em;
        color: #FFF;
    }
}
.cart-content-mini {
    font-size: 1em;
    .fas,.far {
        font-size: 0.9em;
        &.cart-activator {
            @media all and (max-width: 655px) {
                font-size: 1.2em;
            }
        }
    }
    overflow: auto;
    .summary-row {
        display: grid;
        grid-template: 1fr / auto 1fr auto auto auto auto auto;
        align-items: center;
        grid-gap: 0.35em 0.35em;
        img {
            max-width: 60px;
            height: auto;
        }
        .boxed {
            width: 1.25em;
            border: 1px solid #CCC;
            text-align: center;
        }
        @media all and (max-width: 655px) {
            font-size: 1.25em;
            .fas,.far {
                font-size: 1em;
            }
        }
    }
}
.cart-summary-items-hd {
    td {
        border-bottom: 2px solid #CCC;
    }
    .qty,.price,.cv {
        font-weight: 600;
        text-transform: uppercase;
    }
}
.cart-item-summary {
    &:nth-child(even) {
        td {
            background-color: rgba(243,243,243,1.00);
        }
    }
    .cart-combo {
        display: grid;
        grid-template: 1fr / 150px 1fr;
    }
    img {
        max-width: 150px;
        width: 100%;
        height: auto;
    }
    > div {
        &:first-child {
            display: grid;
            grid-template: 1fr / 150px 1fr;
            align-content: center;
        }
    }
}
#main-menu {
    z-index: 10 !important;
    @media all and (max-width: 655px) {
        display: none !important;
    }
}
#mobile-menu {
    z-index: 10 !important;
    display: none;
    color: #FFF;
    @media all and (max-width: 655px) {
        display: flex;
        flex-direction: column;
        > * {
            text-align: center;
        }
    }
    .mobile-nav-wrapper {
        display: grid;
        grid-template: 1fr / 1fr auto;
    }
    .mobile-menu-wrap {
        opacity: 0;
        pointer-events: none;
        transition: 0.35s;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        > * {
            padding: 0.5em 0.25em;
            font-size: 1.5em;
            color: #FFF;
        }
        > a {
            text-decoration: none;
            &:hover {
                cursor: pointer;
                background-color: $red;
            }
        }
    }
    input[name="mobile-menu"] {
        opacity: 0;
        position: absolute;
        &:checked ~ .mobile-menu-wrap {
            opacity: 1;
            pointer-events: auto;
            z-index: 10000000000000 !important;
        }
    }
}
.menu-buffer {
    display: inline-block;
    width: 100%;
    height: 100px;
}
.cart-item-summary {
    .cart-item-description {
        font-weight: 600;
        font-size: 1.15em !important;
        margin-bottom: 0;
        align-self: center;
        h3 {
            margin-bottom: 0 !important;
        }
    }
}
tr {
    &.summary-totals {
        &:first-child {
            td {
                border-top: 2px solid #CCC;
                font-weight: 600;
            }
        }
        td {
            padding: 0.5em;
        }
    }
}
.overlay-blk {
    &::before {
        content: '';
        height: 100vh;
        width: 100vw;
        background: linear-gradient(90deg, rgba(0,0,0,0.2), rgba(91,0,110,0.60));
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }
}
.login-wrapper-block {
    padding: 2em;
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.85);
    border-top: 1px solid #999999;
    border-left: 1px solid #3d3d3d;
    max-width: 475px;
}
.static-video-overlay,
#login-modal {
    overflow: hidden;
    top: 0;
    bottom: 0;
    position: fixed;
    .login-wrapper,
    > video {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        min-width: 100vw;
        min-height: 100vh;
    }
    > div {
        &.login-wrapper {
            position: relative;
            overflow: auto;
        }
    }
}
.header-area {
    background-color: #1F1E1E;
}
a,
input {
    &.button {
        transition: All 0.35s;
        &.green,
        &.standard {
            font-size: 1em;
            text-decoration: none;
            position: relative;
            border-color: #FFF;
            &:hover {
                transform-origin: center;
                transform: scale(1.05);
                cursor: pointer;
            }
            &.outlined {
                min-width: 200px;
                border-radius: 0px;
                border: 1px solid #FFF;
                color: #FFF;
                background-color: transparent;
                background: transparent;
            }
        }
        &.rounded {
            border-radius: 1.5em !important;
        }
        &.green {
            transition: 0.35s;
            &:hover {
                color: #FFF !important;
                text-decoration: none !important;
                transform: scale(0.9);
            }
        }
    }
}
.iforgotbtn {
    text-align: center;
    margin-top: 1em;
}
.thinker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1000;
    transform: scale(1);
    img {
        width: 50px;
        height: 50px;
        animation: animatespinner;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}
.cart-qty-wrapper a {
    transition: 0.3s;
    color: #333 !important;
    &:hover {
        background-color: transparent !important;
    }
    @media all and (max-width: 655px) {
        font-size: 1.5em !important;
    }
}
.login-dialogue-wrapper {
    .login-dialogue-container {
        width: auto;
        padding: 1em;
        border-radius: 1em;
        border: 1px solid #CCC;
        box-shadow: 0 0 5px #CCC;
        max-width: 500px;
        width: 100%;
        form {
            width: 100%;
        }
    }
}
.language-menu {
    z-index: 200;
    .lang-menu {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 250px;
        border-radius: 0.5em;
        overflow: hidden;
        transition: 0.35s;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transform: translateZ(0);
        transform: translateY(2em);
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
    &.country-menu {
        .lang-menu {
            width: 100px;
        }
    }
    input[type="checkbox"]:checked ~ .lang-menu {
        transform: translateY(0em);
        opacity: 1;
        pointer-events: auto;
    }
    input {
        opacity: 0;
        position: absolute;
    }
    label {
        text-transform: capitalize;
        font-size: 1em;
        cursor: pointer;
        transition: 0.35s;
        margin: 0 !important;
        &:not(.check-topbox) {
            background-color: #EBEBEB;
            padding: 0.25em;
            &.active {
                background-color: $red;
                color: #FFF;
                &:hover {
                    opacity: 0.75;
                }
            }
            &:hover {
                opacity: 0.75;
            }
        }
    }
}
@keyframes animatespinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.gray {
    color: #888;
}
@media all and (max-width: 1000px) {
    .s-focus-price.pack-price::after {
        left: 0;
    }
}
