/* SCSS Document */
label {
  font-size: 0.8em;
  color: #333;
  display: inline-block;
}

input.nbr,
textarea.nbr,
select.nbr {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1.1em;
  border: 1px solid #CCC;
  border-radius: 3px;
  margin: 0.5em 0 0 0;
}

select.nbr {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
  background: linear-gradient(#FFF, #CCC);
  width: 100%;
}

.nbr_select select,
.nbr_input input[type=text],
.nbr_input textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: 5px solid #C00;
  border-top: none;
  border-bottom: none;
  border-radius: 3px;
}

.nbr_input input[type=text],
.nbr_input textarea {
  margin: 0;
  padding: 5px;
}

.nbr_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 10px 15px;
  color: #222;
  background-color: #EBEBEB;
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#888));
  background: linear-gradient(#EBEBEB, #888);
  text-shadow: 1px 1px 2px #FFF;
  text-align: center;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

a.nbr:link,
a.nbr:visited,
input[type=submit].nbr,
button.nbr {
  cursor: pointer;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  text-align: center;
  background-color: #666;
  color: #FFF;
  display: block;
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  /* Safari */
  transition: background-color 0.5s;
  border-radius: 0.25em;
  font-size: 1.5em;
  line-height: normal;
}

input[type=submit].nbr {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
}

a.nbr:link,
a.nbr:visited {
  width: calc(100% - 2em);
  padding: 0.5em 1em;
}

a.nbr:hover,
input[type=submit].nbr:hover,
button.nbr:hover {
  background-color: #111;
}

a.small:link,
a.small:hover {
  font-size: 1em;
  display: block;
  width: auto !important;
}

.auto {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  width: auto !important;
}

a.green:link,
a.green:visited,
input[type=submit].green,
button.green {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
  border: none;
  background-color: #50a913;
  -webkit-transition: background-color 0.5s, text-shadow 0.5s;
  /* Safari */
  transition: background-color 0.5s, text-shadow 0.5s;
}

a.green:hover,
input[type=submit].green:hover,
button.green:hover {
  text-shadow: 1px 1px 3px black;
  background-color: #9dea68;
}

a.red:link,
a.red:visited,
input[type=submit].red,
button.red {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
  border: none;
  background-color: #ba1400;
  -webkit-transition: background-color 0.5s, text-shadow 0.5s;
  /* Safari */
  transition: background-color 0.5s, text-shadow 0.5s;
}

a.red:hover,
input[type=submit].red:hover,
button.red:hover {
  text-shadow: 1px 1px 3px black;
  background-color: #5a0e00;
}

.disabled,
button:disabled,
input:disabled {
  cursor: not-allowed;
}

a.disabled:link,
a.disabled:visited,
button:disabled,
input:disabled {
  background-color: #EBEBEB !important;
  color: #888  !important;
}

.nbr_login_window input[type='search'], .nbr_login_window input[type='text'], .nbr_login_window input[type='password'] {
  font-size: 18px;
  padding: 5px;
  color: #222;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0px;
  border: 1px solid #888;
  margin: 0 auto;
  display: block;
}

.nbr_head_button {
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-top: 1px solid #999;
  border-bottom: 1px solid #333;
  background-color: #666;
  cursor: pointer;
  color: #FFF;
  font-size: 20px;
  padding: 10px;
  text-shadow: 1px 1px 3px #000;
}

.nbr_head_button:hover, a.nbr_head_button:hover {
  background-color: #888;
}

.nbr_inner_box {
  background-color: #EBEBEB;
  -webkit-box-shadow: inset 0 0 10px #888;
          box-shadow: inset 0 0 10px #888;
  display: none;
  max-height: 300px;
  overflow: auto;
  padding: 30px 20px;
}

.nbr_inner_box .nbr_general_form label {
  color: #000;
  text-shadow: none;
}

.nbr_general_form {
  display: table;
  width: 100%;
}

.nbr_general_cont {
  display: table-row;
}

.nbr_tool_panel_wrap input[type='search'], .nbr_tool_panel_wrap input[type='text'], .nbr_tool_panel input[type='text'], .nbr_general_form input[type='text'], .nbr_general_form input[type='password'], .nbr_general_form textarea {
  font-size: 14px;
  padding: 3px;
  color: #222 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
       appearance: none !important;
  border-radius: 0px !important;
  border: 1px solid #666 !important;
  border-left: 3px solid #C00 !important;
  border-right: 3px solid #C00 !important;
  margin: 0 auto !important;
  display: block !important;
  float: left !important;
  position: relative !important;
  right: 0 !important;
  width: auto;
}

.nbr_general_form textarea {
  padding: 10px;
  width: 100%;
  min-width: 300px;
  min-height: 100px;
  display: table-cell;
}

.nbr_general_form input[type='search'], .nbr_general_form input[type='text'], .nbr_general_form input[type='password'], .nbr_general_form textarea {
  font-size: 16px;
  line-height: 22px;
}

.nbr_general_form textarea {
  width: 92%;
}

.nbr_tool_panel_wrap label, .nbr_tool_panel label, .variableType, .nbr_general_form label {
  font-size: 12px;
  float: left;
  width: 100%;
  margin-top: 5px;
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
}

.nbr_tool_panel_wrap select, .nbr_tool_panel select, .nbr_general_form select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-size: 14px;
  font-family: inherit;
  border: 3px solid #C00;
  border-top: none;
  border-bottom: none;
  border-radius: 3px;
  padding: 6px 10px;
  color: #222;
  background-color: #EBEBEB;
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#888));
  background: linear-gradient(#EBEBEB, #888);
  text-shadow: 1px 1px 2px #FFF;
  text-align: center;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.nbr_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid #C00;
  border-top: none;
  border-bottom: none;
  border-radius: 3px;
  padding: 10px 15px;
  color: #222;
  background-color: #EBEBEB;
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#888));
  background: linear-gradient(#EBEBEB, #888);
  text-shadow: 1px 1px 2px #FFF;
  text-align: center;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.nbr_button, .nbr_div_button {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.nbr_button input, .nbr_div_button, a.nbr_button:link, a.nbr_button:visited {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 20px;
  color: #FFF;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 3px;
  background-color: #C00;
  text-shadow: 1px 1px 3px #000;
  border: 1px solid #CCC;
  cursor: pointer;
  margin: 10px 0px;
}

a.nbr_button:link, a.nbr_button:visited {
  text-decoration: none;
}

.nbr_button_mod input {
  font-size: 14px;
  padding: 5px 10px;
  min-width: 80px;
}

.nbr_button:hover input, .nbr_div_button:hover, a.nbr_button:hover {
  background-color: #803D53;
}

.nbr_button:active input, .nbr_div_button:active {
  background-color: #444;
}

.nbr_button input:disabled {
  background-color: #444;
  opacity: 0.5;
}

.nbr_button.small input {
  padding: 5px;
  font-size: 16px;
  margin: 0;
}

div.nbr_hidewrap {
  display: none;
  text-align: center;
  padding-bottom: 30px;
}

div.nbr_standard.block.large input {
  padding: 10px;
  font-size: 22px;
}

div.nbr_sep {
  width: 10px;
  height: 10px;
  display: inline-block;
  float: left;
}

/*
**	@description	Modal page wrapper
*/
div.nbr_mini_checkout_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

/*
**	@description	Modal
*/
div.nbr_mini_checkout_container {
  margin: 30px auto;
  background-color: #EBEBEB;
  min-height: 300px;
  border: 5px solid #FFF;
  max-width: 375px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.nbr_mini_checkout_container h2 {
  font-size: 30px;
  color: #C03;
  font-family: inherit;
}

div.nbr_mini_checkout_container input {
  padding: 10px;
  font-size: 18px;
}

div.nbr_mini_checkout_container label,
.nbr_form_input.wrap label {
  margin-top: 10px;
  color: #666;
}

ul.nbr_cart_opts,
ul.nbr_cart_opts li {
  list-style: none;
}

ul.nbr_cart_opts li {
  display: table-cell;
  vertical-align: bottom;
  padding: 0 5px;
}

ul.nbr_cart_opts li div.nbr_button.small input {
  min-width: 25px;
}

tr.nbr_next_line td {
  display: inline-block;
}

a.nbr_cart_standard:link,
a.nbr_cart_standard:visited {
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #B5B5B5;
  color: #222;
  text-shadow: 1px 1px 3px #FFF;
  border: 1px solid #333;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

a.nbr_cart_standard:hover {
  cursor: pointer;
  background-color: #666;
  color: #FFF !important;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label.required::before {
  content: '* ';
  color: red;
  font-size: 1.25em;
  position: relative;
  top: 3px;
}

textarea.small {
  min-height: 150px;
}

textarea.medium {
  min-height: 300px;
}

textarea.large {
  min-height: 600px;
}

*.nbr.auto-width {
  width: env();
  display: inline-block !important;
  min-width: 0 !important;
  max-width: none !important;
}

.fancy-box-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fancy-box-container .fancy-box-wrap {
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.fancy-box-container .fancy-box-wrap label {
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block;
  width: auto;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  position: relative;
}

.fancy-box-container .fancy-box-wrap label.fancy-box {
  position: relative;
  cursor: pointer !important;
}

.fancy-box-container .fancy-box-wrap label.fancy-box::after {
  position: relative;
  content: '';
  display: inline-block;
  height: 2em;
  width: 2em;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: #EBEBEB;
  border-radius: 50%;
  border: 1px solid #CCC;
}

.fancy-box-container .fancy-box-wrap label.fancy-box::before {
  cursor: pointer !important;
  content: '';
  position: absolute;
  display: inline-block;
  top: 0.5em;
  right: 0.5em;
  z-index: 1;
  height: 1em;
  width: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.fancy-box-container .fancy-box-wrap label.fancy-box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fancy-box-container .fancy-box-wrap label.fancy-box:hover::before {
  background-color: #00b3ff;
}

.fancy-box-container .fancy-box-wrap label.fancy-box:hover::after {
  -webkit-box-shadow: 0 0 5px #00b3ff !important;
          box-shadow: 0 0 5px #00b3ff !important;
}

.fancy-box-container .fancy-box-wrap input {
  width: auto !important;
  opacity: 0;
  margin: 0 !important;
  padding: 0 !important;
}

.fancy-box-container .fancy-box-wrap input:checked ~ .fancy-box::before {
  background-color: #FFF;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.fancy-box-container .fancy-box-wrap input:checked ~ .fancy-box::after {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #00b3ff;
}

input[type=checkbox].nbr {
  display: inline-block !important;
  width: auto !important;
  height: auto !important;
  -webkit-appearance: initial !important;
     -moz-appearance: initial !important;
          appearance: initial !important;
}

input[type=submit].nbr.auto {
  display: inline-block !important;
  width: auto !important;
}
/*# sourceMappingURL=form.css.map */